---
layout: default
---

<div class="home">

  <h1 class="page-heading portfolio">Portfolio</h1>

  <ul class="site-list">
    {% for subsite in site.sites %}
      <li class="site">
        <a class="post-link"
          {% if subsite.externalUrl != blank and subsite.externalUrl != nil %}
            href="{{ subsite.externalUrl }}" target="_blank"
          {% else %}
            href="{{ subsite.url | prepend: site.baseurl }}" target="_self"
          {% endif %}
        >

        <h2>
          {{ subsite.title }}
        </h2>
        <img src="{{ site.url }}{{ subsite.imagePath }}" alt="Image of {{ subsite.title }}" />
        </a>
    {% endfor %}
  </ul>
</div>
